spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: org.h2.Driver # Database를 H2로 사용하겠다.
    url: jdbc:h2:~/test2;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa  # H2 접속 시 입력할 username 정보 (원하는 것으로 입력)
    password:  # H2 접속 시 입력할 password 정보 (원하는 것으로 입력)

  jpa:
    hibernate:
      ddl-auto: none
  data:
    redis:
      host: localhost
      port: 6379
      password:

  h2:
    console:
      enabled: true  # H2 Console을 사용할지 여부 (H2 Console은 H2 Database를 UI로 제공해주는 기능)
      path: /h2-console  # H2 Console의 Path
  # Database Setting Info (Database를 H2로 사용하기 위해 H2연결 정보 입력)

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

jwt:
  secret: testesjthsejtkhesjkthskthejthskjthsekjthskjtheskjthskj
  access-token-expiration-minutes: 2100000000
  refresh-token-expiration-minutes: 10080

cloud:
  aws:
    s3:
      bucket: unifest-dev-bucket